/* :root {
    color-scheme: light dark;
    --r-color-theme: dark;
    --r-color-primary-0: 240 249 255;
    --r-color-primary-1: 224 242 254;
    --r-color-primary-2: 186 230 253;
    --r-color-primary-3: 125 211 252;
    --r-color-primary-4: 56 189 248;
    --r-color-primary-5: 14 165 233;
    --r-color-primary-6: 2 132 199;
    --r-color-primary-7: 3 105 161;
    --r-color-primary-8: 7 89 133;
    --r-color-primary-9: 12 74 110;
    --r-color-primary-10: 8 47 73;
    --r-color-secondary-0: 240 253 244;
    --r-color-secondary-1: 220 252 231;
    --r-color-secondary-2: 187 247 208;
    --r-color-secondary-3: 134 239 172;
    --r-color-secondary-4: 74 222 128;
    --r-color-secondary-5: 34 197 94;
    --r-color-secondary-6: 5 150 105;
    --r-color-secondary-7: 4 120 87;
    --r-color-secondary-8: 6 95 70;
    --r-color-secondary-9: 6 78 59;
    --r-color-secondary-10: 3 61 47;
    --r-color-tertiary-0: 255 251 235;
    --r-color-tertiary-1: 254 243 199;
    --r-color-tertiary-2: 253 230 138;
    --r-color-tertiary-3: 252 211 77;
    --r-color-tertiary-4: 251 191 36;
    --r-color-tertiary-5: 245 158 11;
    --r-color-tertiary-6: 217 119 6;
    --r-color-tertiary-7: 180 83 9;
    --r-color-tertiary-8: 146 64 14;
    --r-color-tertiary-9: 120 53 15;
    --r-color-tertiary-10: 87 37 8;
    --r-color-error-0: 255 245 245;
    --r-color-error-1: 254 215 215;
    --r-color-error-2: 254 178 178;
    --r-color-error-3: 252 129 129;
    --r-color-error-4: 245 101 101;
    --r-color-error-5: 229 62 62;
    --r-color-error-6: 155 44 44;
    --r-color-error-7: 124 29 29;
    --r-color-error-8: 107 22 22;
    --r-color-error-9: 88 20 20;
    --r-color-error-10: 69 10 10;
    --r-color-surface-0: 250 250 250;
    --r-color-surface-1: 245 245 245;
    --r-color-surface-2: 229 229 229;
    --r-color-surface-3: 212 212 212;
    --r-color-surface-4: 163 163 163;
    --r-color-surface-5: 115 115 115;
    --r-color-surface-6: 82 82 82;
    --r-color-surface-7: 64 64 64;
    --r-color-surface-8: 38 38 38;
    --r-color-surface-9: 23 23 23;
    --r-color-surface-10: 10 10 10;
} */

[data-theme="dark"] * {
    --r-color-surface-on: var(--r-color-surface-3);
    --r-color-surface-oninverted: var(--r-color-surface-8);
    --r-color-surface-onlow: var(--r-color-surface-4);
    --r-color-surface-onlowinverted: var(--r-color-surface-7);

    --r-color-surface-lowest: var(--r-color-surface-9);
    --r-color-surface-low: var(--r-color-surface-9);
    --r-color-surface-base: var(--r-color-surface-8);
    --r-color-surface-high: var(--r-color-surface-7);
    --r-color-surface-highest: var(--r-color-surface-6);
    --r-color-surface-border: var(--r-color-surface-7);

    --r-color-primary-container: var(--r-color-primary-8);
    --r-color-secondary-container: var(--r-color-secondary-8);
    --r-color-tertiary-container: var(--r-color-tertiary-8);
    --r-color-error-container: var(--r-color-error-8);

    --r-color-primary-containerd: var(--r-color-primary-9);
    --r-color-secondary-containerd: var(--r-color-secondary-9);
    --r-color-tertiary-containerd: var(--r-color-tertiary-9);
    --r-color-error-containerd: var(--r-color-error-9);

    --r-color-primary-containerl: var(--r-color-primary-6);
    --r-color-secondary-containerl: var(--r-color-secondary-6);
    --r-color-tertiary-containerl: var(--r-color-tertiary-6);
    --r-color-error-containerl: var(--r-color-error-6);
}

[data-theme="light"] * {
    --r-color-surface-on: var(--r-color-surface-7);
    --r-color-surface-oninverted: var(--r-color-surface-2);
    --r-color-surface-onlow: var(--r-color-surface-6);
    --r-color-surface-onlowinverted: var(--r-color-surface-3);

    --r-color-surface-lowest: var(--r-color-surface-3);
    --r-color-surface-low: var(--r-color-surface-2);
    --r-color-surface-base: var(--r-color-surface-1);
    --r-color-surface-high: var(--r-color-surface-0);
    --r-color-surface-highest: var(--r-color-surface-0);
    --r-color-surface-border: var(--r-color-surface-4);

    --r-color-primary-container: var(--r-color-primary-6);
    --r-color-secondary-container: var(--r-color-secondary-6);
    --r-color-tertiary-container: var(--r-color-tertiary-6);
    --r-color-error-container: var(--r-color-error-6);

    --r-color-primary-containerd: var(--r-color-primary-7);
    --r-color-secondary-containerd: var(--r-color-secondary-7);
    --r-color-tertiary-containerd: var(--r-color-tertiary-7);
    --r-color-error-containerd: var(--r-color-error-7);

    --r-color-primary-containerl: var(--r-color-primary-4);
    --r-color-secondary-containerl: var(--r-color-secondary-4);
    --r-color-tertiary-containerl: var(--r-color-tertiary-4);
    --r-color-error-containerl: var(--r-color-error-4);
}

:root * {
    --r-color-primary-on: var(--r-color-primary-0);
    --r-color-primary-oninverted: var(--r-color-primary-10);
    --r-color-primary-onlow: var(--r-color-primary-1);
    --r-color-primary-onlowinverted: var(--r-color-primary-9);

    --r-color-secondary-on: var(--r-color-secondary-0);
    --r-color-secondary-oninverted: var(--r-color-secondary-10);
    --r-color-secondary-onlow: var(--r-color-secondary-1);
    --r-color-secondary-onlowinverted: var(--r-color-secondary-9);

    --r-color-tertiary-on: var(--r-color-tertiary-0);
    --r-color-tertiary-oninverted: var(--r-color-tertiary-10);
    --r-color-tertiary-onlow: var(--r-color-tertiary-1);
    --r-color-tertiary-onlowinverted: var(--r-color-tertiary-9);

    --r-color-error-on: var(--r-color-error-0);
    --r-color-error-oninverted: var(--r-color-error-10);
    --r-color-error-onlow: var(--r-color-error-1);
    --r-color-error-onlowinverted: var(--r-color-error-9);
}

:root {
    color-scheme: light dark;
}