:root[data-scheme="dark"] {
    color-scheme: dark;
}

:root[data-scheme="light"] {
    color-scheme: light;
}

/* dark */
[data-scheme="light"] [data-scheme="dark"] *, [data-scheme="dark"] *, [data-scheme="dark"] {
    color-scheme: dark;
    --r-surface-background-color: var(--r-color-surface-8);
    --r-surface-border-color: var(--r-color-surface-7);
}

/* light */
[data-scheme="light"] *, [data-scheme="light"], * {
    color-scheme: light;
    --r-surface-background-color: var(--r-color-surface-1);
    --r-surface-border-color: var(--r-color-surface-3);
}

:root {
    color-scheme: light dark;
}